<div class="select">
    <select id="name" name="{{ name }}[]">
        {% if showBlankOption %}
            <option value=""></option>
        {% endif %}

        {% nav cat in categories %}
            <option value="{{ cat.id }}"{% if value == cat.id %} selected{% endif %}>
                {%- for i in 0..(cat.level-1) -%}{%- if i > 0 -%}&ndash;&nbsp;{%- endif -%}{%- endfor -%}
                {{ cat.title }}
            </option>
            
            {% children %}
        {% endnav %}
    </select>
</div>
